{% extends "base.html" %}

{% block title %}Import/Export Database - Rimosso{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="alert alert-warning">
      <h4 class="alert-heading">Funzionalità rimossa</h4>
      <p>La funzionalità di import/export del database è stata rimossa dal codice principale.</p>
      <p>Gli originali sono archiviati in <code>_backup/obsolete/</code> per recupero manuale.</p>
    </div>

    <a href="{{ url_for('main.index') }}" class="btn btn-primary">Torna alla home</a>
  </div>
</div>
{% endblock %}
